extends ../layout

block content
  #header_page
    //- h1= title
    //- p Welcome to #{title}
  
  section.products-container
    
    each product in products
      article.product
        .image-product
          img(src=`${product.imagePath}`)
        h1=product.title
        .cont
          .desc
            p= product.description
          .price $#{product.price}
        
        .actions
          div.button-card.add
            a(href=`/add-to-cart/${product._id}`) 
              i.fa.fa-shopping-cart(aria-hidden='true')
              | add to cart
          div.button-card.fav
            a(href="#") 
              i.fa.fa-heart(aria-hidden='true')
              | add favorite
