extends ../layout

block content
  section#shopping-cart
    h1 Shopping Cart
    
    if products
    
      .items-list
        ul
          li.header
            ul
              li.img Image
              li.name Product
              li Quantity
              li.add remove one
              li.remove remove
              li Total
          each product in products
            li.product-list
              ul
                li.img
                  img(src=`${product.item.imagePath}`)
                li.name= product.item.title 
                li= product.qty
                li.add
                  a(href=`reduce/${product.item._id}`)
                    i.fa.fa-minus-circle(aria-hidden='true')              
                li.remove
                  a(href=`remove/${product.item._id}`)
                    .fa.fa-trash(aria-hidden='true')   
                li $ #{product.price}
      .total
        ul
          //- li.summary-row Total
          li.summary-row $ #{session.cart.totalPrice}
          li.checkout
            a.button(href="/checkout")
              i.fa.fa-shopping-cart(aria-hidden='true')   
              | Check out
    else
      #no-products.callout.large There is not products in your cart
